
.App {
  text-align: center;
}
.images{
  display: inline-block;
  margin-right: 10px;
  margin-top: 20px;
}

div.imgHorn.card{
  background-color: rgb(27, 75, 126); 
}
div.images{
  justify-content: space-between;
}
h1 {
  font-size: 5em;
  color: rgb(0, 0, 0);
  margin: auto;
}
div.card-title.h5{
  font-family: 'Redressed', cursive;
  text-decoration: underline;
  font-size: 1.8em;
  font-weight:650;
  color: rgb(154, 189, 199);
}
p.card-text{
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#userHorns{
  width: 600px;
  margin: auto;
}
body{
  background-color: rgb(174, 200, 220);
}
